<template>
  <div>
    <div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <a class="text-muted" href="#"></a>
            </div>
            <div class="col-4 text-center">
                <nuxt-link :to="'/'" class="blog-header-logo text-dark">www.riyaziyyatci.com</nuxt-link>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
              <a href=""></a><i class="fa fa-facebook-official fa-2x mr-2"></i>
                <i class="fa fa-instagram fa-2x mr-2"></i>
                <i class="fa fa-youtube-play fa-2x mr-2"></i>
            </div>
        </div>
    </header>

    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <nuxt-link to="/" class="p-2 text-muted">Ana Səhifə</nuxt-link>
            <nuxt-link to="/article/" class="p-2 text-muted">Məqalələr</nuxt-link>
            <nuxt-link class="p-2 text-muted" to="/subject/">Mövzular</nuxt-link>
            <a class="p-2 text-muted" href="#">Haqqımızda</a>
            <a class="p-2 text-muted" href="#">Əlaqə</a>
        </nav>
    </div>
</div>
    <Nuxt />
    <footer class="blog-footer">
    <p>Bütün Hüquqlar qorunur.</p>
    <p>
        <a href="#">Yuxarı</a>
    </p>
</footer>
  </div>
</template>

<style>
html {
  font-family:
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
</style>
