<template>
  <div>
    <div class="container">
      <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-10 col-12 px-0">
          <h1 class="display-4 font-italic">{{ info.title }}</h1>
        </div>
      </div>
    </div>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <div class="row">
            <div class="col-12 mt-3">
              <div v-html="info.content" />
            </div>
            <div class="col-12">
              <share />
            </div>
          </div>
        </div><!-- /.blog-main -->
      </div><!-- /.row -->
    </main><!-- /.container -->
  </div>
</template>

<script>
import axios from 'axios'
import share from '~/components/share/share'

export default {
  components: {share},
  asyncData ({ params, error }) {
    return  axios.get(`${process.env.BASE_URL}/articles/${params.slug}`)
      .then((res) => {
        return { info: res.data }
      })}
}
</script>

<style>

</style>
