<template>
            <div class="p-4">
                <h4 class="font-italic">Mövzular</h4>
                <ol class="list-unstyled mb-0">
                    <li v-for="(obj, key) in subjects" :key="key">
                      <nuxt-link :to="'/subject/'+obj.id">{{obj.title}}</nuxt-link>
                    </li>
                </ol>
            </div>
</template>

<script>

import axios from 'axios'
export default {
name: "subjects",
  data () {
    return {
      subjects: null
    }
  },
  mounted () {
    this.getAll()
  },
  methods: {
    getAll () {
      axios.get(`${process.env.BASE_URL}/subjects/`)
        .then((res) => {
          this.subjects = res.data
        })
    }
  }
}
</script>

<style scoped>

</style>
