<template>
  <div>
    <div class="container">
      <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-10 col-12 px-0">
          <h1 class="display-4 font-italic">Haqqımızda</h1>
        </div>
      </div>
    </div>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <div class="row">
            <div class="col-12 mt-3">
              Saytımız Riyaziyyat fənni üzrə öz biliklərini yoxlamaq istəyən hər kəs üçün nəzərdə tutulub. Bu saytda hər
              hansı bir şəxs (şagird və ya müəllim) istənilən mövzuda özünə uyğun olan testi seçib yazdıqdan dərhal
              sonra onun nəticəsini görə və istədiyi halda hər bir sualın izahı ilə tanış ola bilər.
              Bununla yanaşı saytımızda Riyaziyyatla bağlı maraqlı məqalələr, müsabiqələr və tədbirlər yer alacaq.
              Məqsədimiz yaşından və ixtisasından asılı olmayaraq Riyaziyyata marağı olan hər kəsin evdən oturaraq
              biliklərini artırması və ölkəmizdə cəmiyyətin inkişafıdır.

              “Heç kim məni təhsil almaqdan dayandıra bilməz. Fərqi yoxdur məktəbdə, evdə və ya hər hansı bir yerdə”
              Malala Yousafzai
            </div>
          </div>

        </div><!-- /.blog-main -->
      </div><!-- /.row -->
    </main><!-- /.container -->
  </div>
</template>

<script>
  import subjects from '../components/subjects'

  export default {
    components: {subjects},
  }
</script>

<style>

</style>
