<template>
  <div>
    <div class="container">
      <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-10 col-12 px-0">
          <h1 class="display-4 font-italic">{{ homepage.title }}</h1>
          <p class="lead my-3">{{ homepage.content }}...</p>
          <p class="lead mb-0"><nuxt-link :to="'/article/' + homepage.id" class="text-white font-weight-bold">Ətraflı...</nuxt-link></p>
        </div>
      </div>

      <div class="row mb-2">
        <div v-for="(obj, key) in lasts" :key="key" class="col-md-6">
          <div
            class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-0">{{ obj.title }}</h3>
              <div class="mb-1 text-muted">10.09.2020</div>
              <p class="card-text mb-auto">{{obj.content.slice(0,100)}}...</p>
              <nuxt-link :to="'/article/' + obj.id" class="stretched-link">Ətraflı</nuxt-link>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img src="img/fibonacci.png">
            </div>
          </div>
        </div>
      </div>
    </div>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h3 class="pb-4 mb-4 font-italic border-bottom">
            Ən Son Əlavə olunan İmtahanlar
          </h3>

          <div class="row">
            <div class="col-12 mt-3">
              <div v-for="(obj,key) in exams" :key="key" class="card my-2">
                <div class="card-header">
                  {{ obj.title }}
                </div>
                <div class="card-body">
                  <h5 class="card-title">Mövzu: <span class="badge badge-secondary">{{ obj.subject[0].title }}</span></h5>
                  <p class="card-text"><small class="text-muted">Yayınlanma Tarixi: {{obj.created_at}}</small></p>
                  <nuxt-link :to="'/exam/' + obj.id" class="btn btn-info">İmtahana Başla</nuxt-link>
                </div>
              </div>
            </div>
          </div>

        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="font-italic">Haqqımızda</h4>
            <p class="mb-0">Saytımız Riyaziyyat fənni üzrə öz biliklərini yoxlamaq istəyən hər kəs üçün nəzərdə tutulub. Bu saytda hər
              hansı bir şəxs (şagird və ya müəllim) istənilən mövzuda özünə uyğun olan testi seçib yazdıqdan dərhal
              sonra onun nəticəsini görə və istədiyi halda hər bir sualın izahı ilə tanış ola bilər.</p>
          </div>

          <subjects/>

        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </main><!-- /.container -->
  </div>
</template>

<script>
import subjects from '../components/subjects'
import axios from 'axios'

export default {
  components: {subjects},
  asyncData ({ params, error }) {
    return  axios.get(`${process.env.BASE_URL}/articles/?homepage=true`)
      .then((res) => {
        return { homepage: res.data[0] }
      })},
  data() {
    return {
      lasts: null,
      exams: null
    }
  },
  mounted() {
    this.getlastArticles()
    this.getExams()
  },
  methods: {
    getlastArticles() {
      axios.get(`${process.env.BASE_URL}/articles/?last=true`)
        .then((res) => {
          this.lasts = res.data
        })
    },
    getExams() {
      axios.get(`${process.env.BASE_URL}/exams`)
        .then((res) => {
          this.exams = res.data
        })
    }
  }
}
</script>

<style>

</style>
