<template>
  <div class="social-contact"> <b>Paylaş:</b>
    <a target="_blank" :href="'https://www.facebook.com/sharer/sharer.php?u='+currentUrl" class="facebook-link"><i class="fa fa-facebook" /> Facebook</a>
    <a target="_blank" :href="'https://twitter.com/share?url='+currentUrl" class="twitter-link"><i class="fa fa-twitter" /> Twitter</a>
    <a target="_blank" :href="'https://www.linkedin.com/shareArticle?mini=true&url='+currentUrl" class="linkedin-link"><i class="fa fa-linkedin" /> Linkedin</a>
    <a target="_blank" :href="'https://api.whatsapp.com/send?phone=&text='+currentUrl" class="whatsapp-link"><i class="fa fa-whatsapp" /> Whatsapp</a>
  </div>
</template>

<script>
export default {
  data () {
    return {
      currentUrl: 'https://riyaziyyatci.com' + this.$route.fullPath
    }
  }
}
</script>
<style>
  .whatsapp-link {
    background-color: #4FCE5D;
}
</style>
