<template>
  <div>
    <div class="container">
      <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-10 col-12 px-0">
          <h1 class="display-4 font-italic">{{ info.title }} mövzusundakı imtahanlar</h1>
        </div>
      </div>
    </div>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <div class="row">
            <div class="col-12 mt-3">
              <div v-for="(obj,key) in exams" :key="key" class="card my-2">
                <div class="card-header">
                  {{ obj.title }}
                </div>
                <div class="card-body">
                  <h5 class="card-title">Mövzu: <span class="badge badge-secondary">{{ obj.subject[0].title }}</span></h5>
                  <p class="card-text"><small class="text-muted">Yayınlanma Tarixi: {{obj.created_at}}</small></p>
                  <nuxt-link :to="'/exam/' + obj.id" class="btn btn-info">İmtahana Başla</nuxt-link>
                </div>
              </div>
            </div>
          </div>

        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="font-italic">Haqqımızda</h4>
            <p class="mb-0">Saytımız Riyaziyyat fənni üzrə öz biliklərini yoxlamaq istəyən hər kəs üçün nəzərdə tutulub. Bu saytda hər
              hansı bir şəxs (şagird və ya müəllim) istənilən mövzuda özünə uyğun olan testi seçib yazdıqdan dərhal
              sonra onun nəticəsini görə və istədiyi halda hər bir sualın izahı ilə tanış ola bilər.</p>
          </div>

          <subjects />
        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </main><!-- /.container -->
  </div>
</template>

<script>
import axios from 'axios'
import subjects from '../../components/subjects'

export default {
  components: {subjects},
  asyncData ({ params, error }) {
    return  axios.get(`${process.env.BASE_URL}/subjects/${params.slug}`)
      .then((res) => {
        return { info: res.data }
      })},
  data() {
    return {
      exams: null
    }
  },
  mounted() {
    this.getExams()
  },
  methods: {
    getExams() {
      axios.get(`${process.env.BASE_URL}/search/?subject=${this.info.id}`)
        .then((res) => {
          this.exams = res.data
        })
    }
  }
}
</script>

<style>

</style>
