<template>
  <div>
    <div class="container">
      <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-10 col-12 px-0">
          <h1 class="display-4 font-italic">Movzular</h1>
        </div>
      </div>
    </div>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <div class="row">
            <div class="col-12 mt-3">
          <subjects />
            </div>
          </div>

        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="font-italic">Haqqımızda</h4>
            <p class="mb-0">Saytımız Riyaziyyat fənni üzrə öz biliklərini yoxlamaq istəyən hər kəs üçün nəzərdə tutulub. Bu saytda hər
              hansı bir şəxs (şagird və ya müəllim) istənilən mövzuda özünə uyğun olan testi seçib yazdıqdan dərhal
              sonra onun nəticəsini görə və istədiyi halda hər bir sualın izahı ilə tanış ola bilər.</p>
          </div>
        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </main><!-- /.container -->
  </div>
</template>

<script>
import subjects from '../../components/subjects'

export default {
  components: {subjects},
}
</script>

<style>

</style>
